/* Dependences Start */
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto|Roboto+Slab');
/* Dependences End */

/* Main css Start */
:root
{
	/* Font size Start */
	--smallTextSize: calc(0.8 * var(--textSize));
	--textSize: 2.5vmin;
	--bigTextSize: calc(1.2 * var(--textSize));

	--smallTitleSize: calc(0.8 * var(--titleSize));
	--titleSize: 5vmin;
	--bigTitleSize: calc(1.2 * var(--titleSize));
	/* Font size End */

	/* Color Start */
	--primaryColor: #00a69c;
	--secondaryColor: #58595b;
	--accentColor: #ffffff;
	/* Color End */

	/* Font family Start */
	--textFamily: 'Montserrat', sans-serif;
	--titleFamily: 'Montserrat', sans-serif;
	/* Font family End */
}

*
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: inherit;
	text-transform: inherit;
	color: inherit;
	list-style: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

body
{
	font-size: var(--textSize);
	color: var(--secondaryColor);
	list-style: none;
	font-family: var(--textFamily);
	font-weight: 300;
	text-decoration: none;
	text-transform: none;
}

@media only screen and(max-width: 850px), (orientation: portrait)
{
	:root
	{
		--textSize: 3.5vmin;
		--titleSize: 6vmin;
	}
}
/* Main css End */

/* General css Start */
.btn
{
	border: 2px solid var(--secondaryColor);
	background-color: var(--secondaryColor);
	color: white;
	font-size: var(--bigTextSize);
	text-transform: uppercase;
	padding: 10px 25px;
	cursor: pointer;
	position: relative;
	transition: 0.3s ease;
	box-shadow: 2px 8px 10px 0px rgba(0,0,0,0.3);
	z-index: 1;
}
.btn::after, .btn::before
{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	transition: 0.3s ease;
	background-color: var(--primaryColor);
	z-index: -1;
}
.btn::after
{
	right: 0;
	top: 0;
}
.btn::before
{
	bottom: 0;
	left: 0;
}
.btn:hover
{
	background-color: transparent;
	border-color: var(--primaryColor);
}
.btn:hover::before, .btn:hover::after
{
	width: 100%;
	height: 100%;
}

.uppercase
{
	text-transform: uppercase;
}

.whiteText
{
	color: white;
}
.accentColor
{
	color: var(--accentColor);
}
.secondaryColor
{
	color: var(--secondaryColor);
}
.primaryColor
{
	color: var(--primaryColor);
}

.boldText
{
	font-weight: 700;
}
.block
{
	display: block;
}
.smallText
{
	font-size: var(--smallTextSize);
}
.bigText
{
	font-size: var(--bigTextSize);
}
.smallTitle
{
	font-size: var(--smallTitleSize);
}
.bigTitle
{
	font-size: var(--bigTitleSize);
}
.mobile
{
	display: none;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
	.mobile
	{
		display: inherit;
	}
	.notInMobile
	{
		display: none;
	}
}
/* General css End */